# Build artifacts
__pycache__/
*.pyc

# Virtual environments
.venv
venv/
# Add other virtual environment directory names here

# IDE-specific files
.idea/
.vscode/

# Local development files
*.db
*.sqlite3
local_settings.py

# Logs (optional)
*.log

# Testing data (optional)
# Add a directory name for your testing data here

# Environment variables (not directly in .gitignore)
# Consider storing sensitive environment variables outside version control
